body{
          background-color: aqua;
}

#submit_button
{
 margin-top: 20px;
 margin-bottom: 20px;
}

#sort_button
{
          display: none;
          margin-top: 30px;
          margin-bottom: 30px;
}

input
{
          margin-top: 25px;
          margin-bottom: 25px;
}